* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #F3F3EE;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
  list-style-type: none;
}

.content {
  display: flex;
  padding: 2rem;
  min-height: 80vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-2x {
  flex: 2;
}

.column-3x {
  flex: 3;
}

.column-4x {
  flex: 4;
}

.column-5x {
  flex: 5;
}

.column-6x {
  flex: 6;
}

.column-7x {
  flex: 7;
}

.column-8x {
  flex: 8;
}

.column-9x {
  flex: 9;
}

.header {
  min-height: 8rem;
  background-color: #00acc6;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-shrink: 1;
}

.logo {
  justify-self: flex-start;
  margin-left: 2rem;
}

.nav-list {
  margin: 0 auto;
}

.nav-list a {
  font-weight: bold;
  padding: 2rem 4rem;
  text-decoration: none;
  color: #FFFFFF;
}

.nav-list a:hover, .nav-list a:focus {
  border-bottom: 2px solid #22d88c;
}

.view {
  background-color: #00acc6;
  padding: 2rem 0;
}

.list-view-row {
  margin-top: 1rem;
}

.image-column {
  display: flex;
  flex-basis: 8rem;
  margin-left: 2rem;
}

.description-column {
  border-bottom: 1px solid #009999;
}

.loading-bar {
  margin: 0 auto;
  align-self: center;
}

.image {
  display: inline-flex;
  width: 6rem;
  height: 6rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  background-color: gainsboro;
  justify-content: center;
  align-items: center;
}

.image span {
  font-weight: bold;
  font-size: 1.8rem;
}

.image img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.office-description {
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  font-size: 1.6rem;
  color: #003333;
}

.office-description > h1, h2, h3, h4, h5 {
  color: #FFFFFF;
  padding-bottom: 1rem;
}

.grid-view {
  flex-wrap: wrap;
}

.margin-fix {
  margin: 0 1rem;
}

.card {
  border-radius: 6px;
  flex: 0 1 calc(25% - 4rem);
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  min-height: 10rem;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  text-align: justify;
  font-family: "Muli", "Helvetica", Arial, sans-serif;
}

.card-image {
  display: flex;
  flex-basis: 8rem;
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 0 1 calc(100% - 4rem);
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .card {
    flex: 0 1 calc(50% - 4rem);
  }
}
@media only screen and (min-width: 767px) and (max-width: 862px) and (orientation: landscape) {
  .card {
    flex: 0 1 calc(33% - 4rem);
  }
}

/*# sourceMappingURL=index.css.map */
